<div class="nav">
<div class=" heading">
     
    <div>
        <h1> JAPJEET SINGH</h1>
    </div>
    <div>
        <img class="img-fluid profile" src="../.../../../../assets/profile.jpg" alt="">
    </div>
</div>

    <div class="pad text-center left">
        <a class="anc" routerLink="/layout/about"><h4>ABOUT</h4></a>
        <a class="anc" routerLink="/layout/contact-us" ><h4>EDUCATION</h4></a>
        <a class="anc" routerLink="/layout/contact-form" ><h4>COLLEGE</h4></a>
        <a class="anc" routerLink="/layout/internship" ><h4>INTERNSHIPS</h4></a>
        <a class="anc" routerLink="/layout/projects" ><h4>PROJECTS</h4></a>
    </div>
    <div class="padd"></div>
</div>