<h6 class="flot2">
    Portfolio website
    <br>
    
Oct 2022  Oct 2022
<br>
<br>
https://japjeet01.github.io/portfolio/
<br>

In this project i made a online result to showcase my web
<br>
development skills
<br>
Web development
<br>
Aug 2022  Aug 2022
<br>
https://japjeet01.github.io/japjeetsingh.tech/index.html
<br>
In this project i made website to 
<br>
showcase my portfolio in this
<br>
website i used. Tailwind css. For designing
<br>
WordPress development
<br>
<br>

Jun 2022  Jul 2022
<br>
https://japjeetsingh.tech

<br>
<br>
In this project i made a website to showcase my portfolio
<br>
AUTOMATIC SMART DUSTIN USING ARDUINO
<br>
Dec 2021  Dec 2021
<br>
https://youtu.be/gCB-y5SdHEs

<br>
<br>
In this project i made a DIY
<br> automatic smart dustbin which
opens automatically when we goes in front of it. 
<br>It is beneficial
to 
<br>avoid physical touch in this current scenario of COVID.
<br>
DIY POWER BANK
<br>
Dec 2021  Dec 2021
<br>
https://youtu.be/sOE65IJfXI8
<br>
In this project i made a DIY power bank using lithium ion cells.
<br>
Recycled from old laptop battery

</h6>